#logo{ /* tamanho da logo */
    width: 300px;
}

body { /* margem */
    font-family: comic sans-serif;
    margin: 0;
}

header { 
    padding: 20px; /* altura */
    text-align: center;
    background: #C11212;
    color: white;
    margin:0px;
}

nav { /* fundo */
    padding: 15px; /* altura */
    display: flex;
    background-color: #333;
    justify-content: end;
    text-align: left;
}

nav a { /* espaçamento e fonte */
    color: white;
    padding: 14px 10px;
    text-decoration: none;
    text-align: center;
}

#botao{ /* cor da fonte fonte */
    color: rgb(0, 0, 0);
}

footer { /* altura, centralização e cores */
    padding: 10px; /* altura */
    text-align: center;
    background: #C11212;
    color: aliceblue;
}

footer h2{
    display:inline; /* ???? */
}

#lupa{
    width: 10px;
}